<div class="container">
    <mat-card [formGroup]="newModuleForm" class="ModuleForm">
        <mat-card-header>
            <mat-card-title>
                @if(isEdit){
                   Edit Module {{modul.name}}
                }@else{New Module} 
            </mat-card-title>
        </mat-card-header>
        <mat-divider>
        </mat-divider>
        <mat-card-content>          
    
            <mat-form-field appearance="outline">
                <mat-label>Nom module</mat-label>
                @if(isEdit){              
                      <input matInput value={{modul.name}} type="text" formControlName="name"  class="example-right-align" placeholder="nom module" />
            }@else{
                <input matInput type="text" formControlName="name"  class="example-right-align" placeholder="nom module" />
            }
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Nom Professeur</mat-label>
                @if(isEdit){     
                    <input matInput type="text" value={{modul.teacherName}} formControlName="teacher"  class="example-right-align" placeholder="nom prof" />         
          }@else{
            <input matInput type="text" formControlName="teacher"  class="example-right-align" placeholder="nom prof" />
        }
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    Program
                </mat-label>
                @if(isEdit){
                <input matInput value={{modul.programDTO.name}} readonly formControlName="programCode"/>
                }@else {
                    <input matInput readonly formControlName="programCode"/>
                }
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-raised-button (click)="saveModule()" color="primary">Sauvegarder module</button>
         @if(shoProgress){
            <mat-spinner ></mat-spinner>
         }
        </mat-card-actions>
    </mat-card>
    </div>