
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="persInfFormGroup" label="Fill out your name">
      <form [formGroup]="persInfFormGroup" class="form">
        <mat-form-field style="margin-right: 8px;">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First name" formControlName="firstName" required>
          <mat-error *ngIf="persInfFormGroup.get('firstName')?.hasError('required')">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last name" formControlName="lastName" required>
          <mat-error *ngIf="persInfFormGroup.get('lastName')?.hasError('required')">Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> CIN</mat-label>
          <input matInput formControlName="CIN" placeholder="Ex. XY2345" required>
          <mat-error *ngIf="persInfFormGroup.get('CIN')?.hasError('required') && persInfFormGroup.get('CIN')?.touched">CIN is required</mat-error>
          <mat-error *ngIf="persInfFormGroup.get('CIN')?.hasError('pattern') && persInfFormGroup.get('CIN')?.touched">Invalid CIN format</mat-error>      
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phone" placeholder="Ex. 061234567" required>
          <mat-error *ngIf="persInfFormGroup.get('phone')?.hasError('required') && persInfFormGroup.get('phone')?.touched">phone is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. xxxx@yyy.zz" required>
          <mat-error *ngIf="persInfFormGroup.get('email')?.hasError('required') && persInfFormGroup.get('email')?.touched">email is required</mat-error>
          <mat-error *ngIf="persInfFormGroup.get('email')?.hasError('email') && persInfFormGroup.get('email')?.touched">Invalid email format</mat-error>      
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
             Birth Day
          </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date"/> 
          <mat-error *ngIf="persInfFormGroup.get('date')?.hasError('required') && persInfFormGroup.get('date')?.touched">date is required</mat-error>
          <mat-hint>MM/DD/YYYY</mat-hint> 
           <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>
          CIN Fichier
        </mat-label>
        <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input matInput readonly formControlName="fileName" />
        <input
          type="file"
          hidden
          #f_input
          (change)="selectCinFile($event)"
          accept="application/pdf"
        />
      </mat-form-field>
      <mat-form-field appearance="outline"  style="margin-left: 8px;">
        <mat-label>Image Profile</mat-label>
        <button type="button" mat-icon-button matPrefix (click)="image_input.click()">
          <mat-icon>image</mat-icon>
        </button>
        <input matInput readonly formControlName="imageFileName" />
        <input
          type="file"
          hidden
          #image_input
          (change)="selectImage($event)"
          accept="image/png, image/jpeg, image/jpg"
          />
      </mat-form-field>
      
      <div>
        <button mat-raised-button (click)="resetCinFile()">Reset File</button>
        <button mat-raised-button (click)="resetImage()">Reset Image</button>

      </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <mat-card style="margin-top: 10px;">
        <mat-card-header>
            <mat-card-title>
                CIN File 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="pdfCinFileUrl">
                <pdf-viewer
                [src]="pdfCinFileUrl"
                [original-size]="true"
                [show-all]="true"
                [render-text]="true"
                style="display: block; height: 80vh;">
              </pdf-viewer> 
            </div>           
        </mat-card-content>
    </mat-card>
    </mat-step>
    <mat-step [stepControl]="bacFormGroup" label="Fill out your Baccalaureat">
      <form [formGroup]="bacFormGroup">
        <mat-form-field>
          <mat-label>Degree Bac</mat-label>
          <input matInput formControlName="noteBac" placeholder="Ex. 18.5" required>
          <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('required') && bacFormGroup.get('noteBac')?.touched">Bac degree is required</mat-error>
          <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('min') && bacFormGroup.get('noteBac')?.touched">Bac degree must be great than 10</mat-error>
          <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('max') && bacFormGroup.get('noteBac')?.touched">Bac degree must be less than 20</mat-error>          

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Baccalaureat File
          </mat-label>
          <button type="button" mat-icon-button matPrefix (click)="f_inputbac.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input matInput readonly formControlName="bacFileName" />
          <input
            type="file"
            hidden
            #f_inputbac
            (change)="selectBacFile($event)"
            accept="application/pdf"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          <button mat-raised-button (click)="resetBacFile()">Reset File</button>
        </div>
      </form>
      <mat-card style="margin-top: 10px;">
        <mat-card-header>
            <mat-card-title>
                 Bac File 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="pdfBacFileUrl">
                <pdf-viewer
                [src]="pdfBacFileUrl"
                [original-size]="true"
                [show-all]="true"
                [render-text]="true"
                style="display: block; height: 80vh;">
              </pdf-viewer>  
            </div>          
        </mat-card-content>
    </mat-card>
    </mat-step>
    <mat-step [stepControl]="diplomeFormGroup" label="Fill out your Diploma">
      <form [formGroup]="diplomeFormGroup">
        <mat-form-field>
          <mat-label>Note de diplome</mat-label>
          <input matInput formControlName="noteDiplome" placeholder="Ex. 18.5" required>
          <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('required') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree is required</mat-error>
          <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('min') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree must be great than 12</mat-error>
          <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('max') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree must be less than 20</mat-error>          

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            fichier Diplome
          </mat-label>
          <button type="button" mat-icon-button matPrefix (click)="f_inputdip.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input matInput readonly formControlName="diplomeFileName" />
          <input
            type="file"
            hidden
            #f_inputdip
            (change)="selectDiplomeFile($event)"
            accept="application/pdf"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
          <button mat-raised-button (click)="resetDiplomeFile()">Reset File</button>
        </div>
      </form>
      
      <mat-card style="margin-top: 10px;">
        <mat-card-header>
            <mat-card-title>
                CIN File 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="pdfDiplomFileUrl">
                <pdf-viewer
                [src]="pdfDiplomFileUrl"
                [original-size]="true"
                [show-all]="true"
                [render-text]="true"
                style="display: block; height: 80vh;">
              </pdf-viewer>  
            </div>   
        </mat-card-content>
    </mat-card>
    </mat-step>  
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      @if(showProgress){
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
      <div style="margin-top: 5px;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="saveStudent()"color="primary" >Save</button>
      </div>
    </mat-step>
  </mat-stepper>
  