<div class="container">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                Payements
            </mat-card-title>
        </mat-card-header>
        <mat-divider>
    
        </mat-divider>
        <mat-card-content>
          <mat-form-field style="margin-top: 8px;" class="example-full-width" appearance="outline">
            <mat-label>Search</mat-label>
            <input placeholder="enter an item" matInput (change)="filterPayment($event)"/>
          </mat-form-field>
          @if(authservice.Role && !authservice.Role.includes('ADMIN')){
          <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="newPayment()">New Payment</button>    
          }
            <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z3">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let Payement"> {{Payement.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
                  <td mat-cell *matCellDef="let element"> {{element.studentDTO.firstName}} </td>
                </ng-container>
               
                <ng-container matColumnDef="paymentFile">
                  <th mat-header-cell *matHeaderCellDef> fichiers de payment </th>
                  <td mat-cell *matCellDef="let element">
                    @if(element.file){
                    <button mat-raised-button color="primary" (click)="downloadFile(element.id)">Voir fichier</button>  
                    }@else{
                     <mat-error>pas de fichier</mat-error>
                    }
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="action-buttons">
                      <!-- Bouton de mise à jour -->
                       @if(authservice.Role.includes("ADMIN")){
                      <button mat-raised-button color="accent" style="margin-right: 3px;" (click)="edit(element)">
                        <mat-icon>edit</mat-icon> edit
                      </button>  
                    }
                      <!-- Bouton de suppression -->
                      <button mat-raised-button color="warn" (click)="deletePayment(element.id)">
                        <mat-icon>delete</mat-icon> delete
                      </button>
                    </div>
                  </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              <mat-paginator [pageSizeOptions]="[5, 10,15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
               </mat-paginator>
        </mat-card-content>
    </mat-card>
    </div>