<div class="container">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                Modules 
            </mat-card-title>
        </mat-card-header>
        <mat-divider>
        </mat-divider>
        <mat-card-content>
            <mat-form-field style="margin-top: 8px;" class="example-full-width" appearance="outline">
                <mat-label>Search</mat-label>
                <input placeholder="enter an item" matInput (change)="filterModule($event)"/>
              </mat-form-field>
              @for(program of programs;track program){
                <button  style="margin-left: 8px;"  mat-raised-button color="primary" (click)="getModules(program)">{{program.name}} moduls</button>    
              }
              <button  style="margin-left: 8px;"  mat-raised-button (click)="getAllModules()">All Modules</button>    
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container> 
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="teacherName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
                </ng-container>
                @if(authservice.isAuthenticated()){
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="action-buttons">
                        <!-- Bouton de mise à jour -->
                        <button mat-raised-button color="accent" style="margin-right: 3px;" (click)="edit(element.id)">
                          <mat-icon>edit</mat-icon> edit
                        </button>  
                        <!-- Bouton de suppression -->
                        <button mat-raised-button color="warn" (click)="deleteModule(element.id)">
                          <mat-icon>delete</mat-icon> delete
                        </button>
                      </div>
                    </td>
                  </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="DisplayedColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: DisplayedColumn;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10,15,20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements">
                </mat-paginator>
              
        </mat-card-content>
    </mat-card>
    </div>