.example-stepper {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  mat-form-field{
    margin-top: 3px;
    display: block;
    width: 40%;
    min-width: 250px;
}
.Form{
  width: 30%;
  max-width: 50%;
  margin: auto;
  justify-content: center;  
}
.mat-snackbar-error {
  background-color: #f44336; /* Rouge pour les erreurs */
  color: white;
}

.mat-snackbar-success {
  background-color: #4caf50; /* Vert pour les succès */
  color: white;
}
