
<mat-stepper
class="example-stepper"
[orientation]="(stepperOrientation | async)!">
<mat-step [stepControl]="ImageFormGroup" label="Fill out your Profile and Password">
    @if(profileData.photo){
      <img [src]="'data:image;base64,' + profileData.photo" alt="Profile" width="60" height="60" style="margin: 5px;"/>
      }
      @if(!profileData.photo){
        <img src="assets/default_User.jpg" alt="Default Profile" width="60" height="60" style="margin: 5px;"/>
      }
    <form [formGroup]="ImageFormGroup">
    <mat-form-field appearance="outline"  style="margin-left: 8px;">
      <mat-label>Image Profile</mat-label>
      <button type="button" mat-icon-button matPrefix (click)="image_input.click()">
        <mat-icon>image</mat-icon>
      </button>
      <input matInput readonly formControlName="imageFileName" />
      <input
        type="file"
        hidden
        #image_input
        (change)="selectImage($event)"
        accept="image/png, image/jpeg, image/jpg"
        />
    </mat-form-field>
    <div>
      <button mat-raised-button style="margin-right: 10px;" (click)="resetImage()">Reset Image</button>
      <button mat-raised-button color="primary" (click)="updateImage()" >Update Image</button>
    </div>
    </form>
    <form [formGroup]="passwordFormGroup">
    <mat-form-field style="margin-right: 8px;">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your new password" formControlName="password" required>
      <mat-error *ngIf="passwordFormGroup.get('password')?.hasError('required')">password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm your new password" formControlName="cpassword" required>
      <mat-error *ngIf="passwordFormGroup.get('cpassword')?.hasError('required')">Confirm Password is required</mat-error>
    </mat-form-field>
  </form>
    <div>
      <button mat-raised-button color="primary" (click)="updatePassword()" >Update Password</button>
      <button mat-button matStepperNext>Next</button>
        </div>
</mat-step> 
<mat-step [stepControl]="persInfFormGroup" label="Fill out your Persnal Informations">
  <form [formGroup]="persInfFormGroup" class="form">
    <mat-form-field style="margin-right: 8px;">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First name" formControlName="firstName" required>
      <mat-error *ngIf="persInfFormGroup.get('firstName')?.hasError('required')">First name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last name" formControlName="lastName" required>
      <mat-error *ngIf="persInfFormGroup.get('lastName')?.hasError('required')">Last name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> CIN</mat-label>
      <input matInput formControlName="CIN" placeholder="Ex. XY2345" required>
      <mat-error *ngIf="persInfFormGroup.get('CIN')?.hasError('required') && persInfFormGroup.get('CIN')?.touched">CIN is required</mat-error>
      <mat-error *ngIf="persInfFormGroup.get('CIN')?.hasError('pattern') && persInfFormGroup.get('CIN')?.touched">Invalid CIN format</mat-error>      
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone" placeholder="Ex. 061234567" required>
      <mat-error *ngIf="persInfFormGroup.get('phone')?.hasError('required') && persInfFormGroup.get('phone')?.touched">phone is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput formControlName="email" placeholder="Ex. xxxx@yyy.zz" required>
      <mat-error *ngIf="persInfFormGroup.get('email')?.hasError('required') && persInfFormGroup.get('email')?.touched">email is required</mat-error>
      <mat-error *ngIf="persInfFormGroup.get('email')?.hasError('email') && persInfFormGroup.get('email')?.touched">Invalid email format</mat-error>      
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
         Birth Day
      </mat-label>
      <input matInput [matDatepicker]="picker" [readonly]="true" formControlName="date"/> 
      <mat-error *ngIf="persInfFormGroup.get('date')?.hasError('required') && persInfFormGroup.get('date')?.touched">date is required</mat-error>
      <mat-hint>MM/DD/YYYY</mat-hint> 
       <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Degree Bac</mat-label>
    <input matInput formControlName="noteBac" placeholder="Ex. 18.5" required>
    <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('required') && bacFormGroup.get('noteBac')?.touched">Bac degree is required</mat-error>
    <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('min') && bacFormGroup.get('noteBac')?.touched">Bac degree must be great than 10</mat-error>
    <mat-error *ngIf="bacFormGroup.get('noteBac')?.hasError('max') && bacFormGroup.get('noteBac')?.touched">Bac degree must be less than 20</mat-error>          
  </mat-form-field>
  <mat-form-field>
    <mat-label>Note de diplome</mat-label>
    <input matInput formControlName="noteDiplome" placeholder="Ex. 18.5" required>
    <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('required') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree is required</mat-error>
    <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('min') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree must be great than 12</mat-error>
    <mat-error *ngIf="diplomeFormGroup.get('noteDiplome')?.hasError('max') && diplomeFormGroup.get('noteDiplome')?.touched">Diplome degree must be less than 20</mat-error>          
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Program </mat-label>
    <mat-select formControlName="program">
    @for ( program of programs;track program) {
        <mat-option [value]="program.id">{{program.name}}</mat-option>
    }
    </mat-select>
</mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="updateStudent()" >Update profile</button>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<mat-step [stepControl]="bacFormGroup" label="Fill out your Fils">
  <form [formGroup]="CinFormGroup">
    @if(profileData.photoCIN){
      <button mat-raised-button (click)="viewFile(profileData.id,'CIN')">See Cin file</button>  
      }@else{
      <mat-error >No file available</mat-error>
      }
  <mat-form-field appearance="outline">
    <mat-label>
      CIN Fichier
    </mat-label>
    <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <input matInput readonly formControlName="fileName" />
    <input
      type="file"
      hidden
      #f_input
      (change)="selectCinFile($event)"
      accept="application/pdf"
    />
  </mat-form-field>
  </form>
  <div>
    <button mat-raised-button style="margin: 10px;" (click)="resetCinFile()">Reset File</button>
    <button mat-raised-button color="primary" (click)="updateCIN()" >Update CIN File</button>
  </div>
  <form [formGroup]="bacFormGroup">
    @if(profileData.bacFile){
      <button mat-raised-button (click)="viewFile(profileData.id,'bac')">See Baccalaureat file</button>  
      }@else{
      <mat-error>No file available</mat-error>
      }
    <mat-form-field appearance="outline">
      <mat-label>
        Baccalaureat File
      </mat-label>
      <button type="button" mat-icon-button matPrefix (click)="f_inputbac.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input matInput readonly formControlName="bacFileName" />
      <input
        type="file"
        hidden
        #f_inputbac
        (change)="selectBacFile($event)"
        accept="application/pdf"
      />
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button style="margin: 10px;" (click)="resetBacFile()">Reset File</button>
    <button mat-raised-button color="primary" (click)="updateBac()" >Update Bac File</button>
  </div>
  <form [formGroup]="diplomeFormGroup">
    @if(profileData.diplomaFile){
      <button mat-raised-button (click)="viewFile(profileData.id,'dipl')">See diploma file</button>  
      }@else{
      <mat-error>No file available</mat-error>
      }
    <mat-form-field appearance="outline">
      <mat-label>
        Diploma file
      </mat-label>
      <button type="button" mat-icon-button matPrefix (click)="f_inputdip.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input matInput readonly formControlName="diplomeFileName" />
      <input
        type="file"
        hidden
        #f_inputdip
        (change)="selectDiplomeFile($event)"
        accept="application/pdf"
      />
    </mat-form-field>
    <div>
      <button mat-raised-button style="margin: 10px;" (click)="resetDiplomeFile()">Reset File</button>
      <button mat-raised-button color="primary" (click)="updateDiplome()" >Update Diplome</button>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </form>
</mat-step>  
</mat-stepper>
