<div class="container">
    <mat-card>
        <mat-card-content>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button *ngFor="let item of programs; let i = index" 
                          type="button" 
                          [attr.data-bs-target]="'#carouselExampleCaptions'" 
                          [attr.data-bs-slide-to]="i" 
                          [class.active]="i === 0" 
                          aria-label="'Slide ' + (i + 1)">
                  </button>
                </div>
              
                <div class="carousel-inner">
                  <div *ngFor="let item of posters; let i = index" 
                       class="carousel-item" 
                       [class.active]="i === 0" 
                       data-bs-interval="2000">
                    <img [src]="'data:image;base64,' + item.url" alt="Poster" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                      <h1>{{ item.program.name }}</h1>
                      <div class="container mt-2 d-flex justify-content-center align-items-center">
                        <div class="d-flex gap-3">
                            <button class="btn btn-primary" (click)="applay(item.program)">
                              Applay
                            </button>
                            @if(authService.isAuthenticated() && (authService.Role.includes("SUPER_ADMIN") || (authService.Role.includes("ADMIN") && authService.username==item.program.responsibleProgramDTO.email)) ){
                            <button class="btn btn-danger" (click)="deleteItem(item.id)">
                                Delete
                            </button>
                          }
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>              
        </mat-card-content>  
        <mat-divider></mat-divider>
        @if(authService.isAuthenticated() && authService.Role.includes("ADMIN")){
        <mat-card-footer>
            <form [formGroup]="ImageFormGroup">
              <div style="display: flex; justify-content: center; align-items: center; gap: 16px; width: 100%; margin-top:15px ;">
                <mat-form-field appearance="outline">
                  <mat-label> Program </mat-label>
                  <mat-select formControlName="program">
                    @for (program of programs; track program) {
                      <mat-option [value]="program.id">{{ program.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
          
                <mat-form-field appearance="outline" style="margin-left: 8px;">
                  <mat-label> Poster </mat-label>
                  <button type="button" mat-icon-button matPrefix (click)="image_input.click()">
                    <mat-icon> image </mat-icon>
                  </button>
                  <input matInput readonly formControlName="imageFileName" />
                  <input
                    type="file"
                    hidden
                    #image_input
                    (change)="selectImage($event)"
                    accept="image/png, image/jpeg, image/jpg"
                  />
                </mat-form-field>
          
                <div style="display: flex; gap: 10px;">
                  <button mat-raised-button (click)="resetImage()">Reset Image</button>
                  <button mat-raised-button color="primary" (click)="addPoster()">Add Poster</button>
                </div>
              </div>
            </form>
          </mat-card-footer>  
        }  
    </mat-card>
</div>

   