<div class="container">
    <mat-card [formGroup]="ForgotFormGroup">
        <mat-card-header>
            <mat-card-title>
                Forgot Password
            </mat-card-title>
        </mat-card-header>
        <mat-divider>
    
        </mat-divider>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>
                    Username or Email
                </mat-label>
                <input matInput formControlName="username"/>
                <mat-error *ngIf="ForgotFormGroup.get('username')?.hasError('required')"> email is required</mat-error>
                <mat-error *ngIf="ForgotFormGroup.get('username')?.hasError('email') && ForgotFormGroup.get('username')?.touched">Invalid email format</mat-error>     
            </mat-form-field>              
        </mat-card-content>
        <mat-card-actions style="display: flex; justify-content: space-between;">
            <button mat-raised-button (click)="login()">Back to Login</button>
            <button mat-raised-button (click)="send()" color="primary">Send</button>
          </mat-card-actions>          
    </mat-card>
    </div>